.newsletter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;

  .newsletter-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px 32px;
    width: 100%;

    .heading-container {
      padding: 32px;
      display: flex;
      font-size: 1.3rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 1080px;
      font-family: "Nunito";
      font-weight: 300;

      @media (max-width: 400px) {
        text-align: center;
        font-size: 1.1rem;
      }

      .heading-bold {
        font-weight: bold;

        .heading-accent {
          color: var(--color-primary);
          font-weight: 800;
        }
      }
    }

    .form-outer-container {
      background-color: #dedede;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      width: 100%;
      max-width: 1280px;
      height: 200px;
      padding: 32px 64px;
      justify-content: center;
      border-radius: 8px;

      @media (max-width: 1080px) {
        flex-direction: column;
        height: fit-content;
        padding: 32px 16px;
      }

      .inputs-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 16px;

        @media (max-width: 1080px) {
          flex-direction: column;
          max-width: 380px;
        }

        .form-input-name,
        .form-input-email {
          background: white;
          display: flex;
          font-family: "Nunito";
          width: 100%;
          height: 48px;
          font-size: 16px;
          padding: 8px 8px 8px 24px;
          border: none;
          border-radius: 8px;
        }
      }

      .consent-container {
        display: flex;
        flex-direction: row;
        min-width: fit-content;

        .consent-text {
          padding-left: 12px;
          font-size: 0.9rem;
          color: #3e3e3e;
          font-family: "Nunito";
          font-weight: 700;
          flex-wrap: nowrap;

          @media (max-width: 768px) {
            font-size: 0.8rem;
          }

          .policy-link {
            text-decoration: underline;
          }
        }
      }

      .submit-button {
        font-family: "Nunito Sans";
        padding: 0 20px;
        width: 121px;
        height: 48px;
        border-radius: 8px;
        background-color: var(--color-primary);
        border: none;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;

        &:hover {
          cursor: pointer;
          background-color: var(--color-secondary);
        }

        @media (max-width: 768px) {
          width: 100%;
          font-size: 1.1rem;
        }
      }
    }
  }
}
